@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: ##c3b7ab;
  --foreground: #3f3830;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Basteleur Moonlight", sans-serif;
}

em {
  @apply font-sans;
  font-style: normal;
}