@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c3b7ab;
  --foreground: #3f3830;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #241f1a;
    --foreground: #c3b7ab;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: "Basteleur Moonlight", sans-serif;
}

svg {
  color: currentColor;
}

em {
  @apply font-sans;
  font-style: normal;
}

a {
  @apply hover:underline hover:decoration-dotted;
}

.uses-cool-links {
  & a {
    @apply hover:underline hover:decoration-dotted underline-offset-2 font-sans;
  }
}